.storyboard-nav .sbnext, .storyboard-nav .sbprev, .storyboard-nav .sbframelist{
    height: 80px;
}

.storyboard-nav .sbframelist ul li {
    width: 180px;
}

.fa-stack { font-size: 0.7em; }
i { vertical-align: middle; }
